*,
*::before,
*::after {
  box-sizing: border-box;
}
.hero-lib-section {
  background-color: #111111;
}
.hero-lib-background {
  background-color: #111111;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  margin: 0 auto;
  /*padding: 0 20px;*/
}

/*.hero-lib-background {
  width: 100%;
}*/
.section.hero-lib-background {
  margin: 0 auto;
}
@media screen and (max-width: 319px) {
  .container {
    min-width: 100%;
  }
  .hero-lib-background {
    background: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url(rows-red-seats-theater.jpg);
    background-image: url(../../images/hero-lib/31x-min.jpg);
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  @media  (min-resolution: 2dppx) {
    .hero-lib-background {
    background-image: url('../../images/hero-lib/32x-min.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    }
  }

 

  .hero-lib-name {
    color: #fff;
    width: 100%;
    font-size: 32px;
    line-height: 1.19;
    padding-top: 40px;
    padding-bottom: 8px;
    
  }
  .hero-lib-txt {
    color: #fff;
    width: 100%;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 144px;
    
  }

  
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 100%;
  }
  .hero-lib-background {
    background: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url(rows-red-seats-theater.jpg);
    background-image: url(../../images/hero-lib/31x-min.jpg);
    min-width: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  @media  (min-resolution: 2dppx) {
    .hero-lib-background {
    background-image: url('../../images/hero-lib/32x-min.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    }
  }

 

  .hero-lib-name {
    color: #fff;
    width: 235px;
    font-size: 32px;
    line-height: 1.19;
    padding-top: 40px;
    padding-bottom: 8px;
    
  }
  .hero-lib-txt {
    color: #fff;
    width: 249px;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 144px;
    
  }

  
}


@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .hero-lib-background {
    background: linear-gradient(
        77.77deg,
        #111111 33.58%,
        rgba(17, 17, 17, 0) 71.57%
      ),
      url(rows-red-seats-theater.jpg);
    background-image: url(../../images/hero-lib/tab1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 768px;
  }
  @media  (min-resolution: 2dppx) {
    .hero-lib-background {
    background-image: url('../../images/hero-lib/tab2x.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    }
  }
  .hero-lib-name {
    color: #fff;
    width: 332px;
    font-size: 44px;
    line-height: 1.18;
    padding-top: 62px;
    padding-bottom: 8px;
    
  }

  .hero-lib-txt {
    color: #fff;
    width: 357px;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 118px;
    
  }
}
@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
  .hero-lib-background {
    background: linear-gradient(
        80.53deg,
        #111111 31.92%,
        rgba(17, 17, 17, 0) 72.35%
      ),
      url(rows-red-seats-theater.jpg);
    background-image: url(../../images/hero-lib/desc1x-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
   
  }

  @media  (min-resolution: 2dppx) {
    .hero-lib-background {
    background-image: url('../../images/hero-lib/desc2x-min.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    }
  }
  .hero-lib-name {
    color: #fff;
    width: 464px;
    font-size: 64px;
    line-height: 1.17;
    padding-top: 169px;
    padding-bottom: 8px;
    
  }

  .hero-lib-txt {
    color: #fff;
    width: 464px;
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 249px;
   
  }
}
