.catalog-search {
  margin: auto;
  margin-bottom: 40px;
}

.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-search-input {
  margin-right: 16px;
  padding-left: 20px;
  border: 1px solid #595959;
  border-radius: 8px;
  background-color: inherit;
  color: white;
}

.dark {
  color: black;
}
.button-round-search {
  width: 40px;
  height: 40px;
}

.btn-light {
  background-color: #f8f9fa;
}

@media screen and (max-width: 319px) {
  .catalog-search {
    padding-top: 40px;
    padding-bottom: 16px;
    max-width: 284px;
    height: 40px;
  }
  .catalog-search-input {
    max-width: 224px;
    height: 40px;
  }
}

@media screen and (min-width: 320px) {
  .catalog-search {
    padding-top: 40px;
    padding-bottom: 16px;
    max-width: 284px;
    height: 40px;
  }
  .catalog-search-input {
    max-width: 224px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .catalog-search {
    padding-top: 60px;
    padding-bottom: 36px;
    max-width: 264px;
    height: 44px;
  }
  .catalog-search-input {
    width: 204px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-search {
    padding-top: 80px;
    padding-bottom: 48px;
    max-width: 398px;
    height: 48px;
  }
  .catalog-search-input {
    width: 334px;
    height: 48px;
  }
}
