/*--button--*//*--button--*/
/* 
.button-general - кнопки "Load more" та "Search movie"
.button-watch-trailer - кнопка "Watch trailer"
.button-rem-me - кнопка "Remind me" + жовта "Add to my library"
.button-my-libr - всі не жовті кнопки на library, у них заміна кольору через тему
.button-round-pag - кругла кнопка пагінації
.button-round-search - кругла кнопка пошуку
*/

.button-general,
.button-watch-trailer,
.button-rem-me,
.button-my-libr {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  background: var(--color-button);
  background-color: var(--color-text-button);
  border-radius: 74px;
  border: 1px solid var(--color-text-button);

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;

  color: var(--color-black);
}


.button-my-libr {
  background: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-text-button);
}

.button-general:hover,
.button-watch-trailer:hover,
.button-rem-me:hover {
  border: 1px solid var(--color-text-button);
  background: white;
  color: var(--color-text-button);
}

.button-my-libr:hover {
  background: var(--color-white);
  color: var(--color-text-button);
  border: none;
}

.button-round-pag,
.button-round-search {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 24px;
  height: 24px;
  background: var(--color-button);
  border-radius: 50%;
  border: none;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;
}
.button-round-search {
  width: 40px;
  height: 40px;
  fill: var(--color-white);
}

.button-round-pag:hover,
.button-round-search:hover {
  background: var(--color-button-hover);
  color: var(--color-text-header-l);
  fill: var(--color-text-header-l);
} 


/*---button up ---*/ /*---button up ---*/ /*---button up ---*/ /*---button up ---*/
.button-up {
  display: inline-block;
  position: fixed;
  transition: background-color .3s,
              opacity .5s, 
              visibility .5s;
  animation: animatebut 3000ms infinite 1000ms;
  
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  background: var(--color-button);
  /* background-image: url(./pngwing.png); */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 50px 50px; */
  border: 2px solid var(--color-black);   
  width: 40px;   
  height: 40px; 
  bottom: 30px;
  right: 30px; 
  text-align: center;   
  border-radius: 25px; 

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  color: var(--color-text-description);
}

.button-up:hover, 
.button-up:focus {
  animation: animatebut step-start;
  align-items: flex-start;
  background: var(--color-button-hover);
}
.arrow-up {
  opacity: 0;
  visibility: hidden;
}
.arrow-up span {
  position: fixed;
  z-index: 3;
  
  display: block;
  width: 15px;
  height: 15px;
  right: 60px;
  bottom: 70px;
  border-left: 3px solid var(--color-button);
  border-top: 3px solid var(--color-text-button);
  text-shadow: 1px 1px 2px #494848;
 
  margin: -2px;
  animation: arrow-up 3000ms infinite;
}

.arrow-up span:nth-child(2){
  animation-delay: -0.1s;
  right: 70px;
  bottom: 90px;
}
.arrow-up span:nth-child(3){
  animation-delay: -0.2s;
  right: 80px;
  bottom: 75px;
}
.button-up.button-up-show,
.arrow-up.button-up-show {
  opacity: 1;
  visibility: visible;
}
@keyframes arrow-up {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(10px,10px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(-10px,-10px);
  }
}

@keyframes animatebut {
  0% {
    transform: rotateY(0deg);
    align-items: flex-start;
    /* align-items: flex-end; */
  }

  50% {
    transform: rotateY(90deg);
    /* align-items: center; */
    /* align-items: flex-end; */
  }

  100% {
    transform: rotateY(0deg);
    /* align-items: center; */
    align-items: flex-end;
  }
}

.results-matching {
  width: 280px;
  height: 120px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  color: #FFFFFF;
}


@media screen and (max-width: 320px) {
  
}

@media screen and (min-width: 768px) {
  .results-matching {
    font-size: 24px;
    line-height: 1.3;
  }

  .button-general,
  .button-watch-trailer,
  .button-rem-me {
    font-size: 14px;
    line-height: 1.1;
  }
  .button-my-libr {
    font-size: 12px;
    line-height: 1.3;
  }
  .button-round-pag {
    width: 32px;
    height: 32px;
  }
  .button-round-search {
    width: 44px;
    height: 44px;
  }

  .button-up {
    width: 55px;   
    height: 55px; 
    right: 50px;
    bottom: 50px;
  }
  
}
@media screen and (min-width: 1280px) {
  .results-matching {
    font-size: 32px;
    line-height: 1.1;
  }
  .button-general {
    font-size: 18px;
    line-height: 1.5;
  }
  .button-watch-trailer {
    font-size: 16px;
    line-height: 1.5;
  }
  .button-round-pag {
    width: 40px;
    height: 40px;
  }
  .button-round-search {
    width: 48px;
    height: 48px;
  }

}