.m-w-t-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.m-w-t-bakdrop {
  transition-property: opacity scale visibility;
  transition-duration: 200ms;
  transition-timing-function: linear;
  z-index: 1;
  
  position: fixed;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
}

.m-w-t-window {
  transform: scale(1);
  transition-duration: 200ms;
  transition-timing-function: linear;
   
  position: fixed;
  max-width: 280px;
  min-height: auto;
  padding: 24px;
  padding-bottom: 8px;
  
  
  background: var(--color-black);
  box-shadow: 1px 1px 14px 4px 
              rgba(255, 107, 8, 0.42);
  border-radius: 16px;
}

.m-w-t-bakdrop .m-w-t-is-hidden .m-w-t-window  {
  transform: scale(0.5);
}

.m-w-t-button-close {
  transition-property: background-color, border-radius, fill;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  margin-left: auto;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  fill: var(--color-text-description);
}
.m-w-t-button-close:hover {
  fill: var(--color-text-button);
}
.m-w-t-svg {
  width: 8px;
  height: 8px;
}
.m-w-t-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 24px;

  color: var(--color-white);
}
.m-w-t-img {
  display: flex;
}



@media screen and (min-width: 320px) {
  
}

@media screen and (min-width: 768px) {
  .m-w-t-window {
      max-width: 609px;
      padding: 0;
      padding-top: 30px;
      padding-right: 30px;
  }
  .m-w-t-svg {
      width: 11px;
      height: 11px;
    }
  .m-w-t-value {
      position: relative;
  }
  .m-w-t-text {
      margin-left: 44px;
      margin-right: 214px;
      margin-top: 90px;
      margin-bottom: 176px;
      font-size: 24px;
      line-height: 1.2;  
  }
  .m-w-t-img {
      position: absolute;
      width: 296px;
      height: 260px;
      top: 0;
      right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .m-w-t-window {
      max-width: 700px;
      padding-top: 35px;
      padding-right: 35px;
  }
  .m-w-t-text {
      margin-left: 50px;
      margin-right: 294px;
      margin-top: 104px;
      margin-bottom: 150px; 
  }
}