
.upcoming_film {
  background-color: inherit;
}

.upcoming_title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
}
.container-features {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex-basis: 50%;
  }
  
  .date-vote {
    margin-bottom: 20px;
  }
  
  /* .popularity-genre {
    margin-bottom: 20px;
  } */
  
  .description-item {
    flex-basis: 100%;
  }

.info-item {
  margin-bottom: 12px;
  display: flex;
    flex-wrap: nowrap;
}
.genre-value{
  display:block;
}

.film-info {
  color: var(--color-white);
}

.description-about {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text-header-d);
}

.film-title{
    text-transform: uppercase;
}
.release,
.vote,
.popularity,
.genre {
  color: var(--color-text-header-d);
}
.release-value {
  color: var(--color-text-button);
}
/* .vote-value {
    display: flex;
    align-items: center;
  } */

.vote-average,
.vote-count {
  display: inline-block;
  padding: 1px 2px 1px 2px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.vote-average {
  margin-right: 4px;
}

.vote-count {
  margin-left: 4px;
}
.button-rem-me{
    /* display: inline; */
    margin-bottom: 20px;
}

@media screen and (max-width: 319px) {
  .upcoming_title {
    padding-top: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
  }
  .film-card  {
    margin-left: 20px;
    margin-right: 20px;
 
  }
  .film-title {
    margin: 24px 0 20px 0;
    font-size: 20px;
line-height: 1.15;
}
.release {
  margin-right: 24px;
}
.vote {
  margin-right: 30px;
}
.popularity {
  margin-right: 46px;
}
.genre {
  margin-right: 77px;
}
.description-item {
  margin: 8px 0 20px 0;
}
.about-value {
  display: block;
  margin-top: 16px;
  overflow-wrap: break-word;
  font-weight: 400;
/* font-size: 14px; */
line-height: 1.43;
height: 220px;
  overflow: auto;
}

}

@media screen and (min-width: 320px) {
  .upcoming_title {
    padding-top: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
  }
  .film-card {
    margin-left: 20px;
    margin-right: 20px;
 
  }
  .film-title {
    text-transform: uppercase;
    margin: 24px 0 20px 0;
    font-size: 20px;
line-height: 1.15;
  }
  .description-item {
    margin: 8px 0 20px 0;
  }

  .about-value {
    display: block;
    margin-top: 16px;
    overflow-wrap: break-word;
    font-weight: 400;
font-size: 14px;
line-height: 1.43;
height: 220px;
    overflow: auto;
  }
  .release {
    margin-right: 57px;
  }
  .vote {
    margin-right: 61px;
  }

  .popularity {
    margin-right: 77px;
  }
  .genre {
    margin-right: 107px;
  }
  .genre-value {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;

  }
  
}
