@media screen and (min-width: 768px) {
.upcoming_film{
  margin: 0 auto;
  max-width: 768px;
}

.upcoming_title {
margin-left: 34px;
font-weight: 500;
font-size: 24px;
line-height: 1.17;
}

.film-card {
    margin-left: 32px;
    margin-right: 32px;
}

.film-title {
    font-size: 28px;
  line-height: 1.18;
  margin: 32px 0 24px 0;
  }
  .column-struct {
    flex-basis: 50%;
  }

  .description-item {
    flex-basis: 100%;
  }

  .genre-value {
    font-size: 16px;
  
  }
  .container-features {
    flex-wrap: wrap;
    display: flex;
  }
    .about-value {
     margin-top: 16px;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.42;
     width:625px;
     height: 100px;
     overflow: auto;

    }

    .button-rem-me{
   margin-bottom: 20px;
  }
  


}
