@media screen and (min-width: 1280px){
    .upcoming_film{
        /* margin: 0 auto; */
        max-width: 1280px;
      }
    .upcoming_centre{
    /* justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    margin-right: auto;
    margin-left:auto;
    max-width: fit-content;
   }
   
    .film-card{
        display: flex;
        /* margin-left: 45px;
        margin-right: 24px; */
    }

 
.container-features{
    display: block;
}
.film-card img{
    max-width: 805px;

}
.upcoming_title {
 font-size: 28px;
line-height: 1.18;
margin-left: 45px;
margin-bottom: 28px;
}
.film-info{
    margin-left: 16px;
}

.film-title{
    margin: 0 0 28px;
    font-size: 32px;
line-height: 1.18;
}
.release,
.vote,
.popularity,
.genre {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.description-item {
    margin: 20px 0 0;
  }
  .about-value{
     font-size: 14px;
    line-height: 1.42;
    height: 160px;
    width: 390px;
    overflow: auto;

  }

  .button-rem-me{
    margin:40px 0 0px;
  }


}


