<section class="hero-homepage-section">
    <div class="hero-wrapper">
      <div class="default-hero" id="default-hero">
        <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
        <p class="hero-text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers. Decorate your space, choose your
          films, and stock up on snacks for the full experience.
        </p>
      </div>
  
      <div id="hero-random-film" class="film-hero"></div>
    </div>
    <script src="./js/hero-homepage/hero-homepage.js" type="module"></script>
  </section>
  