


<section class="weekly-trends-section">
    <div class="container weekly-trends">
      <!-- хедер секції WEEKLY TRENDS -->
      <div class="weekly-trends-header">
        <h2 class="weekly-section-name">WEEKLY TRENDS</h2>
        <a class="weekly-see-all" href="/src/catalog.html" target="_self">See all</a>
      </div>

      
  
      <!-- Обгортка для карточок з фільмами -->
      <div class="weekly-movie-card-wrapper">
  
        <!-- Карточкa фільмів 1  -->
        <!-- <div class="weekly-movie-card">
          <img src="/src/images/weekly-tarnds-img/first.jpg" alt="Top Movies of the Week" class="weekly-movie-image">
          <div class="weekly-movie-details">
            <h3 class="weekly-movie-title">GHOSTED</h3>
            <div class="weekly-movie-genre-stars">
              <p class="weekly-movie-genre">Drama, Action | 2023</p>
              <p class="weekly-movie-rating">*******</p>
            </div>
          </div>
        </div> -->
  

        <!-- <div class="weekly-movie-card">
          <img src="/src/images/weekly-tarnds-img/second.jpg" alt="Top Movies of the Week" class="weekly-movie-image">
          <div class="weekly-movie-details">
            <h3 class="weekly-movie-title">QUANTUMANIA</h3>
            <div class="weekly-movie-genre-stars">
              <p class="weekly-movie-genre">Drama, Action | 2023</p>
              <p class="weekly-movie-rating">*******</p>
            </div>
          </div>
        </div>
  
        
        <div class="weekly-movie-card">
          <img src="/src/images/weekly-tarnds-img/third.jpg" alt="Top Movies of the Week" class="weekly-movie-image">
          <div class="weekly-movie-details">
            <h3 class="weekly-movie-title">EVIL DEAD RISE</h3>
            <div class="weekly-movie-genre-stars">
              <p class="weekly-movie-genre">Drama, Comedy | 2023</p>
              <p class="weekly-movie-rating">*******</p>
            </div>
          </div>
        </div> -->
  
      </div>
  
    </div>
  </section>
  