<section class="hero-section" id="hero-section">
    <div class="container hero-container">
             <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
        <p class="hero-text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers. <span class="hero-text-tablet">Decorate your space, choose your
          films, and stock up on snacks for the full experience.
          </span></p>
        <button type="button" class="button-watch-trailer">
          <a class="hero-href" href="../src/partials/catalog/catalog-catalog.html">Get Started</a></button>
          </div>
  </section>
  
  <section>
  <div id="hero-random-film" class="film-hero"></div>
    </section>

    <script src="./js/hero-homepage/hero-homepage.js" type="module"></script>