body {
  background-color: var(--color-black);
}

.header-wrap {
  background-color: #000000;
  position: relative;
}

.header-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.modal-opened {
  overflow: hidden;
  height: 100vh;
}
.header {
  position: relative;
  align-items: center;
  padding: 12px 0px 12px 0px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: block;
  width: 30px;
  height: 24px;
}

.logo-image {
  width: 30px;
  height: 24px;
}

.header-menu {
  display: block;
  color: var(--color-text-header-d);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-wrap {
  display: flex;
  max-width: 157px;
  justify-content: space-between;
}

.theme-switch-btn {
  margin-left: 5px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.mobile-menu-wrap {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0%;
  padding: 12px 0px 12px 20px;
  height: 100vh;
  width: 63.75vw;
  background: #171717;
  border-radius: 0px 8px 8px 0px;
}

.mobile-menu-wrap.hidden {
  display: block;
  left: -400%;
  animation: slideOutToLeft 1s forwards;
}

.mobile-menu-wrap:not(.hidden) {
  animation: slideInFromLeft 0.2s forwards;
}

.mobile-menu {
  margin: 44px 0 0 0;
}

.menu-title {
  display: none;
}

.menu-item {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-white);
}

.menu-item:last-child {
  margin-bottom: 0px;
}

.menu-item-txt {
  color: var(--color-text-header-d);
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 400vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: auto;
}

.hidden {
  display: none;
}

.header-title,
.mobile-menu-title,
.desktop-menu {
  display: none;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .mobile-menu-wrap,
  .mobile-menu-backdrop {
    display: none;
  }

  .header-container {
    box-sizing: border-box;
    padding: 12px 32px;
    max-width: 768px;
  }

  .logo-wrap {
    width: 170px;
    margin-right: 59px;
  }
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 36px;
  }

  .nav-wrap {
    min-width: 170px;
    align-items: center;
  }

  .header-logo {
    width: 45px;
    height: 36px;
  }
  img.logo-image {
    width: 45px;
    height: 36px;
  }

  .header-title {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: var(--color-white);
    margin-left: 9.5px;
  }

  .header-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
    margin: 0;
    display: flex;
    gap: 32px;
    min-width: 245px;
  }

  .theme-switch-btn {
    margin-left: 169px;
  }

  .menu-item {
    margin-bottom: 0px;
    font-weight: 500;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 12px 32px 12px 32px;
    max-width: 1280px;
  }

  .logo-wrap {
    margin-right: 307px;
  }

  .desktop-menu {
    gap: 40px;
  }

  .theme-switch-btn {
    margin-left: 417px;
  }
}

/* LOGO ANIMATION */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.header-title,
.logo-image {
  animation: bounce 2s 1;
}

.header-title span {
  font-family: inherit;
  font-size: inherit;
  color: white;
  display: inline-block;
  transition: all 0.5s;
  animation: animate 5s infinite;
}

.header-title span:nth-child(1) {
  animation-delay: 0.1s;
}

.header-title span:nth-child(2) {
  animation-delay: 0.4s;
}

.header-title span:nth-child(3) {
  animation-delay: 0.6s;
}

.header-title span:nth-child(4) {
  animation-delay: 0.8s;
}

.header-title span:nth-child(5) {
  animation-delay: 1s;
}

.header-title span:nth-child(6) {
  animation-delay: 1.2s;
}

.header-title span:nth-child(7) {
  animation-delay: 1.4s;
}
.header-title span:nth-child(8) {
  animation-delay: 1.6s;
}
.header-title span:nth-child(9) {
  animation-delay: 1.8s;
}

@keyframes animate {
  0% {
    color: white;
    transform: translateY(0);
    margin: 0;
  }
  10% {
    color: var(--color-text-button);
  }
}

/* CHECKBOX FOR THEME SWITCHING */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  box-sizing: border-box;
  background: var(--color-button);
  height: 100%;
  border-radius: 194px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  width: 44px;
  height: 18px;
}

.ball-icon {
  background-color: var(--color-white);
  background-color: transparent;
  width: 13.2px;
  height: 13.5px;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label .ball-icon {
  transform: translateX(25px) rotate(180deg);
}

.sun-icon {
  width: 9.26px;
  height: 9px;
}
.moon-icon {
  width: 9.53px;
  height: 9.75px;
}

@media screen and (min-width: 768px) {
  .checkbox-label {
    width: 60px;
    height: 24px;
    padding: 4px;
  }

  .checkbox:checked + .checkbox-label .ball-icon {
    transform: translateX(34px) rotate(180deg);
  }

  .sun-icon {
    width: 13px;
    height: 13px;
  }
  .moon-icon {
    width: 13px;
    height: 13px;
  }

  .ball-icon {
    width: 18px;
    height: 18px;
  }
}

/* COLORS FOR THE LIGHT THEME */
.svg-sec-black-fill {
  fill: var(--color-second-black);
}

.secondary-white-background {
  background-color: var(--color-text-description);
}

.white-background {
  background-color: var(--color-white);
}

.body-dark-background {
  background-color: var(--color-black);
}

.header-dark-background {
  background-color: #000000;
}

.light-theme-box-shadow {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}
.lightdark-text-color {
  color: var(--color-text-header-l);
}

.lightdark-placeholder::placeholder {
  color: var(--color-text-header-l);
}

.secondary-black-text-color {
  color: var(--color-second-black);
}

.black-text-color {
  color: var(--color-black);
}

.darkest-text-color {
  color: var(--color-black-header);
}

.light-backdrop-background {
  background-color: rgba(0, 0, 0, 0.2);
}

.header-menu:hover,
.header-menu:focus,
.header-title:hover,
.header-title:focus,
.menu-item-txt:hover,
.menu-item-txt:focus,
.current-page {
  color: var(--color-text-button);
  cursor: pointer;
}
