body {
  background-color: var(--color-black);
}

.header-container {
  position: relative;
  background-color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.modal-opened {
  overflow: hidden;
  height: 100vh;
}
.header {
  position: relative;
  align-items: center;
  padding: 12px 0px 12px 0px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: block;
  width: 30px;
  height: 24px;
  margin-left: 1px;
}

.logo-image {
  width: 30px;
  height: 24px;
}

.header-menu {
  display: block;
  color: var(--color-text-header-d);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu:hover,
.header-menu:focus,
.header-title:hover,
.header-title:focus,
.menu-item-txt:hover,
.menu-item-txt:focus {
  color: var(--color-text-button);
  cursor: pointer;
}

.nav-wrap {
  display: flex;
  width: 157px;
  justify-content: space-between;
  align-items: center;
}

.theme-switch-btn {
  margin-left: 5px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.mobile-menu-wrap {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 12px 0px 12px 20px;
  height: 100vh;
  width: 204px;
  background: #171717;
  border-radius: 0px 8px 8px 0px;
}

.mobile-menu-wrap.hidden {
  display: block;
  animation: slideOutToLeft 0.2s forwards;
  transform: translateX(-204px);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrap:not(.hidden) {
  animation: slideInFromLeft 0.2s forwards;
}

.mobile-menu-wrap > .header-logo {
  margin-left: 1px;
}
.mobile-menu {
  margin: 44px 0 0 0;
}

.menu-title {
  display: none;
}

.menu-item {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-white);
}

.menu-item:last-child {
  margin-bottom: 0px;
}

.menu-item-txt {
  color: var(--color-text-header-d);
}

.mobile-menu-backdrop {
  position: absolute;
  top: 0px;
  left: -100%;
  width: 120vh;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
}

.hidden {
  display: none;
}

.header-title,
.mobile-menu-title,
.desktop-menu {
  display: none;
}
/* TABLET */

@media screen and (min-width: 768px) {
  .header-container {
    box-sizing: border-box;
    padding: 12px 32px;
    max-width: 768px;
  }

  .header {
    justify-content: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 36px;
  }

  .nav-wrap {
    justify-content: flex-start;
    width: fit-content;
  }

  .header-logo {
    width: 45px;
    height: 36px;
  }
  .logo-image {
    width: 45px;
    height: 36px;
  }

  .header-title {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: var(--color-white);
    margin-left: 9.5px;
    margin-right: 59px;
  }

  .header-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
    margin: 0;
    display: flex;
    gap: 32px;
  }

  .theme-switch-btn {
    margin-left: 169px;
  }

  .menu-item {
    margin-bottom: 0px;
    font-weight: 500;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 12px 32px 12px 32px;
    max-width: 1280px;
  }

  .header-title {
    margin-right: 307px;
  }

  .desktop-menu {
    gap: 40px;
  }

  .theme-switch-btn {
    margin-left: 417px;
  }
}

/* LOGO ANIMATION */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.header-title,
.logo-image {
  animation: bounce 2s 1;
}

/* CHECKBOX FOR THEME SWITCHING */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  box-sizing: border-box;
  background: var(--color-button);
  height: 100%;
  border-radius: 194px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  width: 44px;
  height: 18px;
}

.ball-icon {
  background-color: var(--color-white);
  background-color: transparent;
  width: 13.2px;
  height: 13.5px;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label .ball-icon {
  transform: translateX(25px) rotate(180deg);
}

.sun-icon {
  width: 9.26px;
  height: 9px;
}
.moon-icon {
  width: 9.53px;
  height: 9.75px;
}

@media screen and (min-width: 768px) {
  .checkbox-label {
    width: 60px;
    height: 24px;
    padding: 4px;
  }

  .checkbox:checked + .checkbox-label .ball-icon {
    transform: translateX(34px) rotate(180deg);
  }

  .sun-icon {
    width: 13px;
    height: 13px;
  }
  .moon-icon {
    width: 13px;
    height: 13px;
  }

  .ball-icon {
    width: 18px;
    height: 18px;
  }
}

/* COLORS FOR THE LIGHT THEME */
.header-white-background {
  background-color: var(--color-white);
}
.secondary-white-background {
  background-color: var(--color-text-description);
}

.body-white-background {
  background-color: var(--color-white);
}

.body-dark-background {
  background-color: var(--color-black);
}

.header-dark-background {
  background-color: #000000;
}

.day-dark-text {
  color: var(--color-text-header-l);
}

.day-secondary-black {
  color: var(--color-second-black);
}
