/* .simple-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
}
.simple-rating::before {
  content: "★★★★★";
  display: block;
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}
.simple-rating__label::before {
  content: '★';
  display: block;
  transition: color 0.3s ease 0s;
}
.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #d1c302;
}

.simple-rating__label:hover, 
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #eee679;
} */


.rating {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  line-height: 0.75;
}
@media screen and (min-width: 768px) {
  .rating {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .rating {
    font-size: 20px;
  }
}
.rating__body {
  position: relative;
}
.rating__body::before {
  content: "★★★★★";
  display: block;
  color: var(--color-text-header-d);
}
.rating__active {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  color: #F87719
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

 