<section class="catalog-search">
  <form class="form-search">
    <input type="search" placeholder="Film" class="catalog-search-input" />
    <select name="YearSelect" id="Year" class="catalog-search-input">
      <option value="" selected>Year</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
    </select>
    <button type="submit" class="button-round-search" id="btn-search">
      <svg width="20" height="20">
        <use href="./images/sprite.svg#search-icon-light"></use>
      </svg>
    </button>
  </form>
</section>
