<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tui-pagination/1.12.2/tui-pagination.min.css" /> -->

<section class="pagination">
    <div id="tui-pagination-container" class="tui-pagination"></div>
</section>
<!-- <link rel="stylesheet" href="https://uicdn.toast.com/tui-pagination/latest/tui-pagination.min.css" /> -->
<script src="https://uicdn.toast.com/tui-pagination/latest/tui-pagination.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tui-pagination/1.12.2/tui-pagination.min.js"></script> -->
