<div  id =" tui-pagination-container " class =" tui-pagination ">
    <button class="pagination-button arrow-left">&#x3C</button>
    <button class="pagination-button pagination--current" data-index="01">01</button>
    <button class="pagination-button" data-index="02">02</button>
    <button class="pagination-button" data-index="03">03</button>
    <span class="dots" id="after">...</span>
    <button class="pagination-button" data-index="24">24</button>
    <button class="pagination-button arrow-right">&#x3E</button>
</div>