.hero-section {
  max-width: 320px;
  padding-top: 40px;
  padding-bottom: 80px;

  background-image: linear-gradient(
      86.77deg,
      #111111 30.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    url(../../images/hero-homepage/hero-homepage-mob-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  max-width: 320px;
}

.hero-movie {
  padding-top: 40px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../../images/hero-homepage/hero-homepage-mob-2x.png);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  width: 200px;
  margin-bottom: 8px;

  color: var(--color-white);
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  width: 165px;
  color: var(--color-white);
}

.hero-text-tablet {
  display: none;
}

.hero-href {
  color: inherit;
}

.hero-hide {
  display: none;
}
.hero-homepage-buttons {
  display: flex;
  gap: 8px;
}

.button-more-details {
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  background: inherit;
  border-radius: 74px;
  border: 1px solid #ffffff;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;

  color: var(--color-white);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 62px;
    padding-bottom: 62px;

    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../../images/hero-homepage/hero-homepage-tab-1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        url(../../images/hero-homepage/hero-homepage-tab-2x.png);
    }
  }

  .hero-container {
    max-width: 768px;
  }

  .hero-movie {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .hero-title {
    font-size: 44px;
    line-height: 1.1818;
    width: 330px;
  }

  .hero-text {
    margin-bottom: 32px;
    width: 360px;

    color: var(--color-white);
  }

  .hero-text-tablet {
    display: inline;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
    line-height: 1.1718;
    margin-bottom: 16px;
    width: 465px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 32px;
    width: 465px;
  }

  .hero-section {
    padding-top: 170px;
    padding-bottom: 170px;

    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../../images/hero-homepage/hero-homepage-desk-1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        url(../../images/hero-homepage/hero-homepage-desk-2x.png);
    }
  }

  .hero-homepage-buttons {
    gap: 14px;
  }

  .hero-container {
    max-width: 1280px;
  }

  .hero-movie {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}
