<footer>
    <!-- <h1> Hi world </h1> -->
    <section class="footer">
      <div class="container footer-container">
        <p class="footer-text">&#169 2023 | All Rights Reserved | Developed with
        <svg class="footer__icon" width="14" height="14">
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
        by <a class="footer-link"href="" data-team-open>GoIT Students</a></p>
      </div>
    </section>
    <div class="backdrop is-hidden" data-team>
      <div class="modal">
        <button class="modal-close button" data-team-close>
          <svg width="24" height="24" class="icon-modal-close">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <ul class="footer-team">
          <li class="footer-team-frame">
                <img
              class="footer-block footer-frame"
              src="./images/footer/frame-min.png"
              alt="Frame"
              width="280"

             />
            <div class="footer-team-card">
             <img
              class="footer-block footer-team-foto"
              src="./images/footer/olexii_tsarenko-min.png"
              alt="Olexii Tsarenko"
              width="264"
              height="260"
             />
             <div>
              <h3 class="footer-team-title">Олексій Царенко</h3>
              <p class="footer-team-text">Team Lead</p>
              <ul class="footer-team-social-list">
               <li>
                <a class="footer-team-social-link" href="">
                 <svg class="footer-team-social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                 </svg>
                </a>
               </li>

               <li>
                <a class="footer-team-social-link" href="">
                 <svg class="footer-team-social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                 </svg>
                </a>
               </li>
               <li>
                <a class="footer-team-social-link" href="">
                 <svg class="footer-team-social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                 </svg>
                </a>
               </li>
              </ul>
             </div>
            </div>
           </li>
           <li class="footer-team-frame">
            <img
          class="footer-block footer-frame"
          src="./images/footer/frame-min.png"
          alt="Frame"
          width="280"

         />
        <div class="footer-team-card">
         <img
          class="footer-block footer-team-foto"
          src="./images/footer/andrii-min.png"
          alt="Andrii Ischenko"
          width="264"
          height="260"
         />
         <div>
          <h3 class="footer-team-title">Андрій Іщенко</h3>
          <p class="footer-team-text">Developer</p>
          <ul class="footer-team-social-list">
           <li>
            <a class="footer-team-social-link" href="">
             <svg class="footer-team-social-icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
             </svg>
            </a>
           </li>

           <li>
            <a class="footer-team-social-link" href="">
             <svg class="footer-team-social-icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
             </svg>
            </a>
           </li>
           <li>
            <a class="footer-team-social-link" href="">
             <svg class="footer-team-social-icon">
              <use href="./images/sprite.svg#icon-linkedin"></use>
             </svg>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </li>
       <li class="footer-team-frame">
        <img
      class="footer-block footer-frame"
      src="./images/footer/frame-min.png"
      alt="Frame"
      width="280"

     />
    <div class="footer-team-card">
     <img
      class="footer-block footer-team-foto"
      src="./images/footer/dmytro-min.png"
      alt="Dmytro Shandrovskyi"
      width="264"
      height="260"
     />
     <div>
      <h3 class="footer-team-title">Дмитро Шандровський</h3>
      <p class="footer-team-text">Developer</p>
      <ul class="footer-team-social-list">
       <li>
        <a class="footer-team-social-link" href="">
         <svg class="footer-team-social-icon">
          <use href="./images/sprite.svg#icon-instagram"></use>
         </svg>
        </a>
       </li>

       <li>
        <a class="footer-team-social-link" href="">
         <svg class="footer-team-social-icon">
          <use href="./images/sprite.svg#icon-facebook"></use>
         </svg>
        </a>
       </li>
       <li>
        <a class="footer-team-social-link" href="">
         <svg class="footer-team-social-icon">
          <use href="./images/sprite.svg#icon-linkedin"></use>
         </svg>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </li>
   <li class="footer-team-frame">
    <img
  class="footer-block footer-frame"
  src="./images/footer/frame-min.png"
  alt="Frame"
  width="280"

 />
<div class="footer-team-card">
 <img
  class="footer-block footer-team-foto"
  src="./images/footer/ivan-min.png"
  alt="Ivan Kysil"
  width="264"
  height="260"
 />
 <div>
  <h3 class="footer-team-title">Іван Кисіль</h3>
  <p class="footer-team-text">Developer</p>
  <ul class="footer-team-social-list">
   <li>
    <a class="footer-team-social-link" href="">
     <svg class="footer-team-social-icon">
      <use href="./images/sprite.svg#icon-instagram"></use>
     </svg>
    </a>
   </li>

   <li>
    <a class="footer-team-social-link" href="">
     <svg class="footer-team-social-icon">
      <use href="./images/sprite.svg#icon-facebook"></use>
     </svg>
    </a>
   </li>
   <li>
    <a class="footer-team-social-link" href="">
     <svg class="footer-team-social-icon">
      <use href="./images/sprite.svg#icon-linkedin"></use>
     </svg>
    </a>
   </li>
  </ul>
 </div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/maks_ch-min.png"
alt="Maksym Chukhrai"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Максим Чухрай</h3>
<p class="footer-team-text">Developer</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/maks_rast-min.png"
alt="Maksym Rastavetskyi"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Максим Раставецький</h3>
<p class="footer-team-text">Developer</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/natali-min.png"
alt="Natalia Olishkevych"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Наталля Олішкевич</h3>
<p class="footer-team-text">Developer</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/serg_js-min.png"
alt="Sergii"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Сергій</h3>
<p class="footer-team-text">Developer</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/serg_rogok-min.png"
alt="Sergii Rogok"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Сергій Рожок</h3>
<p class="footer-team-text">Developer</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/viacheslav-min.png"
alt="Viacheslav Bobrovskyi"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">В'ячеслав Бобровський</h3>
<p class="footer-team-text">Developer</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/olexii_tsarenko-min.png"
alt="Olexii Tsarenko"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Олексій Царенко</h3>
<p class="footer-team-text">Team Lead</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/olexii_tsarenko-min.png"
alt="Olexii Tsarenko"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Олексій Царенко</h3>
<p class="footer-team-text">Team Lead</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/olexii_tsarenko-min.png"
alt="Olexii Tsarenko"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Олексій Царенко</h3>
<p class="footer-team-text">Team Lead</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/olexii_tsarenko-min.png"
alt="Olexii Tsarenko"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Олексій Царенко</h3>
<p class="footer-team-text">Team Lead</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>
<li class="footer-team-frame">
  <img
class="footer-block footer-frame"
src="./images/footer/frame-min.png"
alt="Frame"
width="280"

/>
<div class="footer-team-card">
<img
class="footer-block footer-team-foto"
src="./images/footer/olexii_tsarenko-min.png"
alt="Olexii Tsarenko"
width="264"
height="260"
/>
<div>
<h3 class="footer-team-title">Олексій Царенко</h3>
<p class="footer-team-text">Team Lead</p>
<ul class="footer-team-social-list">
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-instagram"></use>
   </svg>
  </a>
 </li>

 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-facebook"></use>
   </svg>
  </a>
 </li>
 <li>
  <a class="footer-team-social-link" href="">
   <svg class="footer-team-social-icon">
    <use href="./images/sprite.svg#icon-linkedin"></use>
   </svg>
  </a>
 </li>
</ul>
</div>
</div>
</li>


        </ul>

      </div>
    </div>
</footer>

<script src="./js/footer/footer-team.js" type="module"></script>