<footer>
    <!-- <h1> Hi world </h1> -->
    <section class="footer">
      <div class="container footer-container">
        <p class="footer-text">&#169 2023 | All Rights Reserved | Developed with
        <svg class="footer__icon" width="14" height="14">
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
        by <a class="footer-link"href="" data-team-open>GoIT Students</a></p>
      </div>
    </section>
    <div class="backdrop is-hidden" data-team>
      <div class="modal">
        <button class="modal-close button" data-team-close>
          <svg width="24" height="24" class="icon-modal-close">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <ul>
          <li class="item">
            <div class="team-card">
             <img
              class="block"
              src="./images/footer/fig4qLb0Zujy11RF6l0Kk83Ymn9.jpeg"
              alt="Mark Guerrero"
              width="264"
              height="260"
             />
             <div class="team-card-text">
              <h3 class="title-third">Олексій Царенко</h3>
              <p class="text">Team Lead</p>
              <ul class="list team-social-list">
               <li>
                <a class="link team-social-link" href="">
                 <svg class="team-social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                 </svg>
                </a>
               </li>

               <li>
                <a class="link team-social-link" href="">
                 <svg class="team-social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                 </svg>
                </a>
               </li>
               <li>
                <a class="link team-social-link" href="">
                 <svg class="team-social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                 </svg>
                </a>
               </li>
              </ul>
             </div>
            </div>
           </li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

      </div>
    </div>
</footer>

<script src="./js/footer/footer-team.js" type="module"></script>