<header>
  <div class="header-wrap">
    <div class="header-container">
      <div class="header">
        <div class="logo-wrap">
          <nav class="nav-wrap">
            <a class="header-logo" href="./index.html">
              <img
                class="logo-image"
                src="./images/header-img/popcorn.svg"
                alt="logo"
            /></a>

            <a class="header-title" href="./index.html">
              <span>C</span><span>i</span><span>n</span><span>e</span
              ><span>m</span><span>a</span><span>n</span><span>i</span
              ><span>a</span></a
            >
          </nav>
        </div>

        <a class="header-menu">MENU</a>

        <ul class="desktop-menu">
          <li class="menu-title">Menu</li>
          <li class="menu-item">
            <a class="menu-item-txt" href="./index.html">HOME</a>
          </li>
          <li class="menu-item">
            <a class="menu-item-txt" href="./catalog.html">CATALOG</a>
          </li>
          <li class="menu-item">
            <a class="menu-item-txt" href="./library.html">MY LIBRARY</a>
          </li>
        </ul>

        <div class="theme-switch-btn">
          <input type="checkbox" class="checkbox" id="checkbox" checked />
          <label for="checkbox" class="checkbox-label">
            <svg class="moon-icon">
              <use href="./images/sprite.svg#moon"></use>
            </svg>
            <svg class="sun-icon">
              <use href="./images/sprite.svg#sun"></use>
            </svg>
            <svg class="ball-icon">
              <use href="./images/sprite.svg#ball"></use>
            </svg>
          </label>
        </div>
      </div>

      <nav class="mobile-menu-wrap hidden">
        <a class="header-logo" href="./index.html">
          <img
            class="logo-image"
            src="./images/header-img/popcorn.svg"
            alt="logo"
        /></a>
        <ul class="mobile-menu">
          <li class="mobile-menu-title">Menu</li>
          <li class="menu-item">
            <a class="menu-item-txt" href="./index.html"> HOME</a>
          </li>
          <li class="menu-item">
            <a class="menu-item-txt" href="./catalog.html">CATALOG</a>
          </li>
          <li class="menu-item">
            <a class="menu-item-txt" href="./library.html">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
      <div class="mobile-menu-backdrop hidden"></div>
    </div>
  </div>
</header>
