<div data-modal id="myModal" class="m-w-t-bakdrop m-w-t-is-hidden">
    <div class="m-w-t-window">
        <button data-modal-close id="closeModal" class="m-w-t-button-close" type="button">
             <svg class="m-w-t-svg">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
    <div class="m-w-t-value">
        <p class="m-w-t-text">
            OOPS... <br>
            We are very sorry! <br>
            But we couldn’t find the trailer.
        </p>
        <div class="m-w-t-img">
            <img src="./images/movie_items.svg" alt="Movie items">
        </div>
    </div>
    </div>
</div>