@media screen and (min-width: 1280px) {
.catlog_net {
  min-width: 1280px;
}
.catalog-gallery {
  margin-top: 48px;
  column-gap: 16px;
  row-gap: 32px;
}
.catalog_info {
  bottom: 20px;
  left: 20px;
}
.gallery__image {
  width: 395px;
}
.catalog_title {
  min-width: 385px;
  font-size: 20px;
  line-height: 1.2;
}
.catalog_genres {
  font-size: 18px;
  line-height: 1.2;
}
.ganres_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.2;
  }
}